* {
  box-sizing: border-box;
}
.grid {
  border: 2px solid salmon;
  display: flex;
  flex-direction: column;
}

.row {
  border: 2px solid slateblue;
  display: flex;
}

.square {
  height: 100px;
  color: brown;
}
